@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

:root {
    --menu: #283459;
    --header: #333333;
}

body {
    min-height: 100vh;
    display: flex;
}

/* Menu lateral */

.navigation {
    position: relative;
    height: 100vh;
    background-color: var(--menu);
    width: 110px;
    display: none;
    overflow-x: hidden;
}

.ocultar-menu {
    opacity: 0;
}

.navigation img {
    width: 50px;
}

.navigation .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: 20px;
}

.navigation ul li a {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-decoration: none;
    color: #eee;
}

.navigation ul li a .title {
    font-size: 15px;
    position: relative;
    display: block;
    white-space: nowrap;
}


.navigation ul li a .icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 10px;
    text-align: center;
}

.navigation ul li.active {
    background-color: #F2AC57;
}

.navigation ul li.active a::before {
    content: '';
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.navigation ul li.active a::after {
    content: '';
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: var(--bg--dark--color);
    border-radius: 50%;
    box-shadow: 15px -15px 0 var(--red);
}

/* Header */

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header {
    background-color: var(--header);
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}

.header .bars {
    display: flex;
    width: 100%;
    margin: 10px;
}

.header .bars .list-bars {
    list-style: none;
}

.header .bars .list-bars .barras {
    color: #eee;
    list-style: none;
}

.header .bars-header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 30px;
    margin: 50px;
}

.header .bars-header .list-header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}

.header .bars-header .list-header a {
    color: #eee;
    text-decoration: none;
    list-style: none;
    font-size: 1.5rem;
}

.list-icon {
    font-size: 3rem;
}


/* Information */

.information {
    height: 80px;
    display: flex;
    align-items: center;
}

.information ul {
    margin: 20px;
}

.information ul li {
    list-style: none;
}

.information ul li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #000;
}

.information ul li a .arrow {
    font-size: 3rem;
    color: #F2AC57;
}

.information ul li a .information-title {
    font-size: 3rem;
}

.information ul li a .p {
    font-size: 1.5rem;
}

/* Nav */

.nav {
    background-color: var(--menu);
    display: flex;
    margin: 0 auto;
    align-items: center;
    height: 53px;
    border-radius: 5px;
    width: 95%;
}

.input {
    display: flex;
    justify-content: flex-start;
    margin: 10px;
    width: 100%;
}

.input input {
    width: 45%;
    height: 33px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1.5rem;
}

.input button {
    background-color: #F2AC57;
    width: 33px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: #eee;
    margin-left: -5px;
}

.input button i {
    font-size: 20px;
}

.divButton {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.divButton button {
    background-color: #F2AC57;
    color: #eee;
    border: none;
    width: 199px;
    margin: 10px;
    height: 38px;
    border-radius: 5px;
    cursor: pointer;
}

.divButton button:active {
    transform: scale(0.90);
    transition: all 100ms ease;
}

/* Modal */

form {
    display: flex;
    flex-direction: column;
}

form .column {
    display: flex;
    flex-direction: column;
}

form .column .mb-3 {
    display: flex;
    gap: 10px;
    margin: 10px;
    flex-direction: row;
}

form .column .mb-3 label {
    text-align: center;
    display: flex;
    align-items: center;
}

form .column .mb-3 input {
    width: 100%;
}

/* ContainerTable */

.containerTable {
    display: block;
    background-color: #EDEDED;
    width: 93%;
    margin: 0 auto;
    margin-top: 20px;
    height: 100%;
    overflow-x: auto;
}

.containerTable .gerarRelatorio {
    margin-top: 10px;
    margin-left: 20px;
    background-color: #67BF63;
    border: none;
    width: 199px;
    height: 38px;
    color: #eee;
    font-size: 1.5rem;
    border-radius: 5px;
}

.containerTable .gerarRelatorio:active {
    transform: scale(0.90);
    transition: all 100ms ease;
}

.divTable {
    background-color: #D8D8D8;
    width: 95%;
    margin: 0 auto;
    margin-top: 10px;
    height: 100%;
    border-collapse: collapse;
}

.divTable .table th {
    border-bottom: 1px solid #000;
}

tfoot th {
    font-size: 20px;
}

.alert {
    display: none;
    width: 95%;
    margin: 20px auto;
}

.espacamento-botoes {
    margin-right: 5px;
    /* Espaçamento de 5 pixels à direita do botão */
}

/* Notificacao */

/* Estilo do dropdown menu */
.notification-dropdown {
    position: relative;
}

.notificacao-conteudo {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    min-width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
}

.buttons {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* Estilo para mostrar a notificação quando aberta */
.aberto .notificacao-conteudo {
    display: block;
}

.notificacao-header {
    border-bottom: 1px solid #000;
}

.notificacao-body {
    flex-direction: column;
    align-items: center;
    transition: opacity 0.3s, transform 0.5s ease-out;
    /* Adicionamos uma transição para o efeito de saída */
    height: auto;
    overflow-y: scroll;
    max-height: 50vh;
}

/* Estilo para o botão de fechar */
.close-button {
    background: transparent;
    border: none;
    cursor: pointer;
}

/* Estilo para o badge da notificação */
.notification-badge {
    background-color: #F2AC57;
    color: #fff;
    border-radius: 50%;
    padding: 5px 8px;
    position: absolute;
    font-size: 12px;
}

@keyframes slideOutAnimation {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}

.slide-out-animation {
    animation: slideOutAnimation 0.5s ease forwards;
}

/* Aba financeiro */

#informationFinanceiro {
    display: none;
}

#navFinanceiro {
    display: none;
}

#containerTableFinanceiro {
    display: none;
}

#modalBodyFinanceiro {
    overflow-y: scroll;
    height: auto;
    max-height: 70vh;
}

.extrato-cabecalho {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.divInputs {
    background-color: #eee;
    display: flex;
    align-items: center;
    border-radius: 5px;
    gap: 5px;
    margin-bottom: 10px;
}

.searchExtrato {
    height: 35px;
    outline: none;
    border-radius: 5px;
    border: none;
    background-color: #eee;
    display: flex;
    align-items: center;
}

.searchExtrato::placeholder {
    font-weight: bold;
}

.divBtnExtrato {
    background-color: #eee;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    border-radius: 5px;
}

.btnExtrato {
    background-color: #eee;
    border: none;
    font-weight: bold;
    color: #707070;
    margin: 10px;
}

.btnExtrato:active {
    transform: scale(.9);
    transition: all 100ms ease;
}

/* Calendar */

.calendar {
    display: none;
    width: 100%;
    padding: 20px;
    height: 100%;
    margin: 0 auto;
    border: 1px solid #ccc;
    flex-direction: column;
}

.divMonthYear {
    background-color: var(--menu);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    border-radius: 5px;
}

.divMonthYear span {
    margin: 10px;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
}

.divMonthYear h2 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    height: 100%;
}

.calendarTableTh,
.cellCalendar {
    text-align: center;
}

td:hover {
    background-color: #ccc;
}

.calendarTableTr {
    background-color: #F2AC57;
    color: #fff;
    font-size: 20px;
    height: 60px;
}

td {
    padding-top: 50px;
}

.cellCalendar {
    width: 100px;
    max-width: 100px;
    height: 65px;
    text-align: center;
    /* vertical-align: top (alinha no topo) */
    vertical-align: top;
    overflow: hidden;
    user-select: none;
}

/* Modal calendar */

.eventoForm {
    display: flex;
    flex-direction: column;
}

.formControl {
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.formControl input {
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    font-size: 19px;
    width: 100%;
}

.formControl input:focus {
    border-bottom: 2px solid #0056b3;
}

.formControl input::placeholder {
    font-weight: bold;
    font-size: 19px;
}

.formControl input,
select {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    font-size: 19px;
}

.formControl i {
    margin: 5px;
    font-size: 2rem;
}

.selected-option {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid #ccc;
    vertical-align: middle;
    margin: 5px;
}

.options-list {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    list-style: none;
    padding: 0;
    margin: 0;
}

.options-list li {
    padding: 5px;
}

.options-list li:hover {
    background-color: #f1f1f1;
}

/* Modal edição */

#modal-headerEdicao {
    display: flex;
    align-items: center;
}

.tituloModalEdicao {
    width: 100%;
}

.icones {
    display: flex;
    align-items: center;
}

.icones button {
    opacity: 0.85;
    cursor: pointer;
    outline: none;
    border: 0;
    background-color: #fff;
    font-size: 20px;
    margin: 0 5px;
}

.icones button:hover {
    opacity: 1;
}

.icones button i {
    border: 0;
    outline: none;
}

.eventItem:hover {
    color: #eee;
    cursor: pointer;
}

.cellDay {
    color: #eee;
    font-weight: 700;
    background-color: #0056b3;
    border-radius: 50%;
    width: 25px;
    margin: 0 auto;
}

/* Animação passar os meses do calendário */
.fade-slide-next {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.fade-slide-previous {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

/* Adicione esta classe para evitar que a transição ocorra ao remover a classe 'fade-slide' */
.no-transition {
    transition: none;
}